* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
:root {
  --main-color: #d5d5d5;
  --second-color: #d5d5d5;
}
*::selection {
  color: #fff;
  background: var(--main-color);
}
body {
  padding-top: 40px;
}
section {
  padding: 50px 10%;
}
img {
  width: 100%;
}
.logo h1 {
  color: var(--main-color);
}
header {
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1b1b1b;
  box-shadow: 0 4px 41px rgb(14, 55, 54, 14%);
  padding: 15px 10%;
  transition: 0.2s;
}
.logo {
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 11px 20px;
  color: #d5d5d5;
  font-weight: 600;
  position: relative;
  display: inline-block;
}
.navbar a::after {
  content: "";
  width: 0%;
  height: 2.5px;
  background: #d5d5d5;
  display: block;
  margin: auto;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}
.navbar a:hover::after {
  width: 100%;
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
  display: none;
}
.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: rgb(0,13,148);
  background: linear-gradient(158deg, rgba(0,13,148,1) 0%, rgba(85,0,136,1) 66%);
  gap: 1rem;
}
.home-text {
  flex: 1 1 17rem;
}
.home-img {
  flex: 1 1 17rem
}
.home-img img {
  border-radius: 12px;
}
.home-text span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--second-color);
}
.home-text h1 {
  font-size: 3.2rem;
  color: var(--second-color);
  font-weight: bolder;
}
.home-text h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--second-color);
  margin: 0.5rem 0 1.4rem;
}
.btn {
  padding: 10px 23px;
  border: 2px solid #d5d5d5;
  color: var(--second-color);
  font-weight: 500;
  transition: .26s;
  border-radius: 25px;
}
.btn:hover {
  color: #1b1b1b;
  background: #d5d5d5;
}
.heading {
  text-align: center;
}
.heading span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--second-color);
}
.heading h1 {
  font-size: 2rem;
  color: var(--main-color);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1b1b1b;
}
.contact p {
  margin: 1rem 0 1rem;
}
.contact p a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--main-color);
  padding: 1rem;
}
.social a {
  font-size: 30px;
  margin: 0.7rem;
}
.social a .bi {
  padding: 7px;
  color: var(--main-color);
}
.social a .bi:hover {
  color: #0900b7;
}
.links a:hover {
  color: #0900b7;
}
.contact p {
  text-align: center;
  color: #0900b7;
  cursor: pointer;
  transition: 0.30s;
}
.contact p:hover {
  color: rgb(116, 0, 155);
  transform: scale(1.1);

}

/* slider slider slider slider */



@media (max-width: 1150px) {
  header {
    padding: 18px 7%;
  }
  section {
    padding: 50px 7%;
  }
  .home-text h1 {
    font-size: 3rem;
  }
  .home-text h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 1004px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
}
@media (max-width: 938px) {
  header {
    padding: 11px 4%;
  }
  #menu-icon {
    display: initial;
  }
  .home-img img {
    width: 340px;
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #1b1b1b;
    box-shadow: 0 4px 4px rgb(14, 55, 54, 14%);
    border-top: 2px solid var(--main-color);
    transition: 0.2s;
    text-align: left;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1.5rem;
    display: flex;
    color: #b9b9b9;
  }
  .home-text span {
    font-size: 0.9rem;
  }
  .home-text h1 {
    font-size: 2.4rem;
  }
  .home-text h2 {
    font-size: 1.2rem;
  }
}
@media (max-width: 735px) {
  .home-text {
    padding-top: inherit;
  }
  .shop-container .box {
    margin-top: 6rem;
  }
  .heading h1 {
    font-size: 1.5rem;
  }
  .heading span {
    font-size: 0.9rem;
  }
  .about {
    flex-direction: column-reverse;
  }

}
@media (max-width: 473px) {
  .links {
    display: flex;
    flex-direction: column;
  }
}